  /*con*/
  .connection{
    max-width: 1024px;
    min-height: 750px;
    position: relative;
  }
  /**/
  .v8_2 {
    width: 100%;
    height: 706px;
    background: url("/assets/jpg/image\ 2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 58px;
    left: 0px;
    overflow: hidden;
  }
  .v8_3 {
    width: 100%;
    height: 706px;
    background: url("../images/v8_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
    overflow: hidden;
  }
  .v8_4 {
    width: 432px;
    height: 532px;
    background: url("../images/v8_4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 126px;
    left: 512px;
    overflow: hidden;
    
  }
  .v8_5 {
    width: 332px;
    height: 276px;
    background: url("../images/v8_5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 142px;
    left: 18px;
    overflow: hidden;
    border: 1px solid #FFFFFF;
  }
  .v8_6 {
    width: 178px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 13px;
    left: 12px;
    font-family: Jura;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v8_7 {
    width: 399px;
    height: 47px;
    background: url("../images/v8_7.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 82px;
    left: 18px;
    overflow: hidden;
    border: 1px solid #FFFFFF;
  }
  .v8_8 {
    width: 286px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Jura;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v8_9 {
    width: 399px;
    height: 47px;
    background: url("../images/v8_9.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 18px;
    overflow: hidden;
    border: 1px solid #FFFFFF;
  }
  .v8_10 {
    width: 141px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 11px;
    font-family: Jura;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v8_11 {
    width: 199px;
    height: 47px;
    background: rgba(199,199,187,1);
    opacity: 1;
    position: absolute;
    top: 450px;
    left: 110px;
    overflow: hidden;
  }
  .v8_12 {
    width: 224px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 13px;
    font-family: Jura;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v8_13 {
    width: 448px;
    height: 425px;
    background: url("../images/v8_13.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 138px;
    left: 18px;
    overflow: hidden;
  }
  .v8_14 {
    width: 372px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 37px;
    left: 38px;
    font-family: Jura;
    font-weight: Light;
    font-size: 65px;
    opacity: 1;
    text-align: left;
  }
  