.intro {
  height: 552px;
  width: 1024px;
  margin: 0 auto;
  background-image: url(./Assets/jpg/image.jpg);
  padding-top: 100px;
  padding-left: 61px;
  padding-bottom: 124px;

  @media (max-width: 768px){
    height: 552px;
    width: 100%;
  }

  @media (max-width: 320px){
    height: 176px;
    width: 100%;
    padding-top: 0px;
    padding-left: 21px;
  }
}

  .intro__block {
    display: flex;
    flex-direction: column;
    padding-top: 43px;
    gap: 26px;
  }
  
  .intro__title{
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 71px;
    color: #FFFFFF;
  
    @media (max-width: 768px){
      font-size: 60px;
    }
  
    @media (max-width: 320px){
      font-size: 30px;
      line-height: 35px;
    }
  }
  
  
  .intro__subtitle{
    font-family: 'Jura';
    font-style: normal;
    font-weight: 445;
    font-size: 24px;
    line-height: 30px;
    color: rgba(245, 245, 245, 0.79);
  
    @media (max-width: 768px){
     /* font-size: 20px;
      line-height: 35px;*/
    }
  
    @media (max-width: 320px){
      font-size: 10px;
      line-height: 30px;
    }
  
  }
   
  